.datePicker input{
	background-color: var(--background);
	cursor: pointer;
	transition: .2s;
}

.datePicker input:hover {
	background-color: var(--input-placeholder);
}

#datePicker{
	font-size: var(--fs24);
	border: none;
}

@media (max-width: 470px) {
	#datePicker {
		margin-bottom: 10px;
	}
}