.salary-calc-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: space-around;
	top: 0;
	left: 0;
	z-index: 15;
}

.salary-calc-close-btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: auto;
	cursor: pointer;
}

.salary-calc-close-btn img {
	position: absolute;
	right: -65px;
	top: -65px;
	width: var(--px30);
	height: var(--px30);
	transition: .2s;
	opacity: .8;
}

.salary-calc-close-btn:hover img{
	opacity: 1;
}

.salary-calc-form {
	padding: var(--px30);
	background-color: var(--background);
}

.salary-rate-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: var(--px30);
}

.salary-rate-wrap input {
	width: var(--px80);
	margin: 0 5px;
}

.salary-calc-option label{
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-bottom: var(--px20);
}

.salary-calc-option label input {
	margin-right: var(--px10);
}

.salary-calc-date {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: var(--px20);
}

.salary-calc-btn {
	margin: 0 auto;
	margin-bottom: var(--px20);
}

.salary-calc-result {
	font-size: var(--fs22);
	text-align: center;
}

@media (max-width: 720px) { 
	.salary-calc-close-btn img {
		right: -40px;
		top: -40px;
	}
}