@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400&display=swap');

:root {
  --background: rgb(40, 45, 50);
  --btn: rgb(10, 15, 20);
  --btn-hover: rgb(29, 36, 44);
  --btn-active: rgb(0, 0, 0);
  --black: rgb(0, 5, 10);
  --input-placeholder: rgb(112, 115, 117);
  --input-background: rgb(31, 34, 37);
  --white: rgb(210, 220, 230);
  --white-disabled: rgb(141, 145, 148);
  --fs16: 16px;
  --fs18: 18px;
  --fs20: 20px;
  --fs22: 22px;
  --fs24: 24px;
  --px50: 50px;
  --px60: 60px;
  --px30: 30px;
  --px20: 20px;
  --px10: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--px10);
  padding-top: var(--px20);
}

body, input, button {
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--white);
  font-size: var(--fs18);
}

input::placeholder {
  color: var(--input-placeholder);
}

input {
  border: 1px solid var(--input-placeholder);
  padding: 5px var(--px10);
  background-color: var(--input-background);
  border-radius: 2px;
}

ul {
  list-style: none;
}

button, .btn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: var(--px50);
  border: none;
  background-color: var(--btn);
  color: var(--white);
  font-size: var(--fs18);
  cursor: pointer;
  transition: .2s;
  border-radius: 2px;
  user-select: none;
}

button:hover, .btn:hover {
  background-color: var(--btn-hover);
}

button:active, .btn:active {
  background-color: var(--btn-active);
  border: none;
  box-shadow: none;
  outline: none;
}

@media (max-width: 720px) {
  :root {
    --fs16: 12px;
    --fs18: 14px;
    --fs20: 16px;
    --fs22: 18px;
    --fs24: 20px;
    --px60: 50px;
    --px50: 30px;
    --px30: 20px;
    --px20: 10px;
    --px10: 5px;
  }
}