@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400&display=swap');

:root {
  --background: rgb(40, 45, 50);
  --btn: rgb(10, 15, 20);
  --btn-hover: rgb(29, 36, 44);
  --btn-active: rgb(0, 0, 0);
  --black: rgb(0, 5, 10);
  --input-placeholder: rgb(112, 115, 117);
  --input-background: rgb(31, 34, 37);
  --white: rgb(210, 220, 230);
  --white-disabled: rgb(141, 145, 148);
  --red: rgb(204, 109, 121);
  --red-darker: rgb(119, 63, 71);
  --blue: rgb(76, 106, 145);
  --blue-darker: rgb(46, 64, 87);
  --green-darker: rgb(51, 71, 59);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 20px;
}

body, input, button {
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--white);
  font-size: 18px;
}

input::placeholder {
  color: var(--input-placeholder);
}

input {
  border: 1px solid var(--input-placeholder);
  padding: 5px 10px;
  background-color: var(--input-background);
  border-radius: 2px;
}

ul {
  list-style: none;
}

button, .btn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--btn);
  color: var(--white);
  font-size: 18px;
  cursor: pointer;
  transition: .2s;
  border-radius: 2px;
  user-select: none;
}

button:hover, .btn:hover {
  background-color: var(--btn-hover);
}

button:active, .btn:active {
  background-color: var(--btn-active);
  border: none;
  box-shadow: none;
  outline: none;
}